<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>

    <testsuites>
        <testsuite name="Ingenico Gateway Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="build/reports" lowUpperBound="40" highLowerBound="80"/>
        <log type="coverage-clover" target="build/reports/coverage.xml"/>
        <log type="coverage-php" target="build/reports/coverage.serialized"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="json" target="build/reports/logfile.json"/>
        <log type="tap" target="build/reports/logfile.tap"/>
        <log type="junit" target="build/reports/logfile.xml"/>
        <log type="testdox-html" target="build/reports/testdox.html"/>
        <log type="testdox-text" target="build/reports/testdox.txt"/>
    </logging>
</phpunit>
